<div class="main-content">
    <div class="section-content section-content-p30">

        <div class="container-fluid">
            <h3>Order List</h3>


            <div *ngIf="pastOrdersList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="20%">Total Price</th>
                        <th width="20%">Total Quantity</th>
                        <th width="20%">Date</th>
                    </tr>
                

                <tr *ngFor="let order of pastOrdersList">
                    <td>
                        {{ order.orderTrackingNumber }}
                    </td>
                    <td>
                        {{ order.totalPrice | currency}}
                    </td>
                    <td>
                        {{ order.totalQuantity }}
                    </td>
                    <td>
                        {{ order.dateCreated | date }}
                    </td>
                </tr>
            </table>
        </div>

            <div *ngIf="pastOrdersList.length == 0" class="text-center">
                <img src="assets/emptycart.svg" class="img-fluid" alt="Empty Shopping Cart" style="width: 50%;">
        
                <p class="empty-cart-message">You do not have any orders.</p>
            </div>

        </div>

        
        
    </div>


</div>
